<?xml version="1.0"?>
<robot name="shoddy" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="base_macro" params="name">
        <!-- Properties -->
        <!-- Shaft -->
        <xacro:property name="shaft_radius" value="0.015"/>
        <xacro:property name="shaft_length" value="0.38"/>

        <xacro:property name="shaft_front_origin" value="0.145 0.0 -0.02"/>
        <xacro:property name="shaft_rear_origin" value="-0.145 0.0 -0.02"/>

        <xacro:property name="shaft_material" value="Grey"/> 

        <!-- base -->
        <xacro:property name="size_x" value="0.47"/>
        <xacro:property name="size_y" value="0.315"/>
        <xacro:property name="size_z" value="0.168"/>

        <xacro:property name="mass" value="30"/>
        
        <xacro:property name="base_material" value="Blue"/>   



        <!-- Links -->
        <!-- Shaft -->
        <xacro:macro name="shaft_macro" params="name origin parent">
            <link name="${name}">
                <visual>
                    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
                    <geometry>
                        <cylinder radius="${shaft_radius}" length="${shaft_length}"/>
                    </geometry>

                    <material name="${shaft_material}"/>
                </visual>

                <inertial>
                    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0"/>
                    <mass value="0.0"/>
                    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
                </inertial>
            </link>

            <joint name="${name}_joint" type="fixed">
                <origin xyz="${origin}" rpy="0.0 0.0 0.0"/>
                <parent link="${parent}"/>
                <child link="${name}"/>
            </joint>

            <gazebo reference="${name}">
                <material>Gazebo/Grey</material>
            </gazebo>
        </xacro:macro>

        <!-- Base -->
        <link name="${name}">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${size_x} ${size_y} ${size_z}"/>
                </geometry>

                <material name="${base_material}"/>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${size_x} ${size_y} ${size_z}"/>
                </geometry>
            </collision>

            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="${mass}"/>
                <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
            </inertial>
        </link>

        <gazebo reference="${name}">
            <material>Gazebo/Blue</material>
        </gazebo>

        <xacro:shaft_macro name="shaft_front" origin="${shaft_front_origin}" parent="${name}"/>
        <xacro:shaft_macro name="shaft_rear" origin="${shaft_rear_origin}" parent="${name}"/>
        
    </xacro:macro>
</robot>