<?xml version="1.0"?>
<robot name="shoddy" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="landmark_macro" params="name xyz size parent">
        <!-- Link ========================================================== -->
        <link name="${name}">
            <visual>
                <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${size}"/>
                </geometry>
                <material name="Red"/>
            </visual>
        </link>

        <joint name="${name}_joint" type="fixed">
            <axis xyz="0.0 0.0 0.0"/>
            <origin xyz="${xyz}"/>
            <parent link="${parent}"/>
            <child link="${name}"/>
        </joint>

        <gazebo reference="${name}">
            <material>Gazebo/Red</material>
        </gazebo>
        <!-- ========================================================== Link -->
    </xacro:macro>
</robot>