<?xml version="1.0"?>
<robot name="shoddy" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find mrvk_description)/urdf/robot.plugins.xacro"/>

    <xacro:include filename="$(find mrvk_description)/urdf/materials.urdf.xacro"/>

    <xacro:include filename="$(find mrvk_description)/urdf/base_macro.urdf.xacro"/>
    <xacro:include filename="$(find mrvk_description)/urdf/wheel_macro.urdf.xacro"/>
    <xacro:include filename="$(find mrvk_description)/urdf/camera_macro.urdf.xacro"/>
    <xacro:include filename="$(find mrvk_description)/urdf/lidar_macro.urdf.xacro"/>


    
    <!-- Body -->
    <xacro:base_macro name="base_link"/>

    <!-- Wheels -->
    <xacro:wheel_macro
        side="left"
        part="front"
        origin="0.145 0.20 -0.02"
        parent="base_link"/>

    <xacro:wheel_macro
        side="left"
        part="rear"
        origin="-0.145 0.20 -0.02"
        parent="base_link"/>

    <xacro:wheel_macro
        side="right"
        part="front"
        origin="0.145 -0.20 -0.02"
        parent="base_link"/>

    <xacro:wheel_macro
        side="right"
        part="rear"
        origin="-0.145 -0.20 -0.02"
        parent="base_link"/>
    
    <!-- LIDAR -->
    <xacro:lidar_macro name="sensor_laser_link" parent="base_link"/>
    
    <!-- Camera -->
    <xacro:camera_macro name="camera_link" parent="base_link"/>
</robot>