<?xml version="1.0"?>
<launch>
	<rosparam command="load"
            file="$(find mrvk_description)/config/diffdrive.yaml"
            ns="mrvk_drive_controller" />


	<node name="mrvk_controller_spawner" pkg="controller_manager" type="spawner"
    	args="mrvk_drive_controller --shutdown-timeout 3"/>

	<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    	<param name="default_topic" value="/mrvk_drive_controller/cmd_vel"/>
	</node>

	<!-- Convert an xacro and put on parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find mrvk_description)/urdf/robot2.urdf.xacro"/>

	<!-- Spawn a robot into Gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mrvk"/>

	<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
   		<param name="publish_frequency" type="double" value="30.0"/>
	</node>
</launch>
